@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<MockStackOverflow.Models.Question>


<h1>All Questions</h1>
@foreach (var question in Model)
{
    <p>@Html.ActionLink((string)question.Title, "Details", new { id = question.Id })</p>
}